<select name="locale" id="locale" (change)="setLanguageSwitcher($event)" [value]="this.selectedValue">
  <option value="en-gb">English</option>
  <option value="es-es">Spanish</option>
  <option value="fr-fr">French</option>
</select>

<div>
  <nav>
    <a [routerLink]="['/home']">Home</a>
    <p> </p>
    <a [routerLink]="['/about']">About</a>
  </nav>
</div>


<h1>{{ 'app.header' | translate }}</h1>

<div>
  <p>{{ 'app.greeting' | translate }}</p>
  <p>{{ 'app.example' | translate }}</p>
</div>

<div>
  <p>Browser Locale: {{ this.browserLocale }}</p>
</div>

<div>
  <router-outlet></router-outlet>
</div>